.card{
    border: 1px solid #0e0e0d;
    border-radius: 5px;
    box-shadow: 5px 5px #acac9a;
    background: linear-gradient(to bottom, #00cc99 0%, #66ff33 100%);
    width: 320px;
}
.infos{
    border: 1px solid #0e0e0d;
    border-radius: 5px;
    width: 280px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    font: 10px "Comic Sans MS", cursive, sans-serif;
}
#picture{
    width:300px;
    margin:10px;

}
h3{
    margin:10px;
    text-align: center;
}

#interesting{
    font-style:italic;
}
span{
    font-weight:bold;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}